.card-container{
    display: flex;
    position: relative;
}

.card-body{
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.8;
    color: white;
    top: 8rem;
    text-align: left;
    font-size: 1.2em;
}

.card-heading{
    position: absolute;
}

.icon{
    width: 10rem;
    height: 10rem;
}

.port{
    width: 110rem;
    height: 70rem;
    position: absolute;
    z-index: -1;
}